{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
    <div class="w-full mt-2 md:container mx-auto md:px-6 lg:px-12 px-4 py-4 bg-white
    shadow-lg rounded-lg mt-4 h-screen text-neutral-800" style="max-width: 1024px">
        <h1 class=" font-semibold mt-4">EVALign: Visual Evaluation of Translation Alignment Models</h1>
        <div class="mt-4 leading-relaxed">
            <p>
                EVALign is a framework for quantitative and qualitative evaluation of automatic translation alignment models.
                It offers several visualization views enabling developers to visualize their models' predictions and compare the
                performance of their models with other baseline and state-of-the-art models. Via different search and filter
                functions, developers can also inspect the frequent alignment errors and their positions.
            </p>
            <p class="mt-2">
                EVALign hosts nine gold standard datasets and the predictions of multiple alignment models.
                The tool is extendable, and adding additional datasets and models is straightforward.
            </p>
        </div>
    </div>
{% endblock %}

