{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Visual Evaluation of Translation Alignment Models{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer="defer" src="{% static "js/main.ac14917b.js" %}"></script>
    <link href="{% static "css/main.7ed89b99.css" %}" rel="stylesheet">
    {% block js %}  {% endblock %}
<style>
:root {
    --body_bg_color: #FFFFFF;
    --nav_bg_color: #122b3c;/*#122b3c; /* #1A1A1A */
    --nav_txt_color: #EDA820;
    --content_font: Verdana;
    --headers_font: 'Open Sans';
    --sum_bg_color: #dfe4e6;
}
</style>
</head>
<body style="background-color: #f0f2f5 ;font-family: 'Open Sans', serif;">
    <div class="mb-16 pb-16 ">
    {% include 'frontend/nav.html' %}
        {% block content %}
        {% endblock %}
    </div>

    {% include 'frontend/footer.html' %}

</body>

</html>