{% extends "frontend/base_js.html" %}
{% load static %}
{% block js %}
    <script>
    window.onscroll = ()=> {
        let btn = document.getElementById("upButton");
        btn.style.display = (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100)?"":"none"
    };
    </script>

{% endblock %}

{% block content %}
    <div class="w-full mt-2 md:containermd:px-12 lg:px-24 px-4 py-4">
        <div id="root">
        </div>
        {% include 'frontend/scroll_up.html' %}
    </div>
{% endblock %}

